{% extends "layout.html" %}

{% block content %}
    <div class="slide-in-animation col-md-4 col-md-offset-4">
        <h1>Login</h1>
        <form class="form-horizontal login-form" method="POST" action="/login">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <div class="col-sm-12 controls">
                    <button type="submit" class="btn-login btn btn-primary pull-right"><span>login </span></button>
                </div>
            </div>
            <!-- error meesage -->
            <div class="error">
                {% for error in app.session.flashbag.get('loginError') %}
                    <div class="alert alert-danger" role="alert">
                        {{ error | escape }}
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}
