{% extends "layout.html" %}

{% block content %}
<div id="todos" v-cloak class="slide-in-animation col-md-8 col-md-offset-1">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th>
        <th>User</th>
        <th>Description</th>
        <th>Completed</th>
        <th>Remove</th>
        <tr v-for="(todo, index) in todos">
            <td><template>[[ todo.id ]]</template></td>
            <td><template>[[ todo.user_id ]]</template></td>
            <td>
                <a :href="'new/todo/' + todo.id">
                    <template>[[ todo.description ]]</template>
                </a>
            </td>
            <td>
                <button @click="toggleComplete(todo.id)" :class="'btn btn-xs btn-danger todo-' + (todo.completed ? 'complete' : 'incomplete')">
                    <span :class="'glyphicon glyphicon-white glyphicon-' + (todo.completed ? 'ok' : 'remove')"></span>
                </button>
            </td>
            <td>
                <button @click="deleteTodo(todo.id)" class="todo-delete btn btn-xs btn-danger">
                    <span class="glyphicon glyphicon-remove glyphicon-white"></span>
                </button>
            </td>
        </tr>
        <div class="alert alert-success" role="alert" v-if="form.success">
            <template>[[ form.success ]]</template>
        </div>
        <div class="alert alert-danger" role="alert" v-if="form.error">
            <template>[[ form.error ]]</template>
        </div>
        <input type="hidden" v-model="form.crsftokentodos" name="crsftokentodos">
        <td colspan="4">
            <input type="textbox" v-model="form.description" name="description" class="todo-description small-6 small-center" placeholder="Description...">
        </td>
        <td>
            <button @click="addTodo" class="todo-add btn btn-sm btn-primary">Add</button>
        </td>
    </table>
</div>

{% endblock %}