{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th>
        <th>User</th>
        <th>Description</th>
        <th>Completed</th>
        <th>Remove</th>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id | escape }}</td>
                <td>{{ todo.user_id | escape }}</td>
                <td>
                    <a href="/todo/{{ todo.id }}">
                       {{ todo.description | escape }}
                    </a>
                </td>
                <td>
                    <form method="post" action="/todo/togglecomplete/{{ todo.id }}">
                        <button type="submit" class="todo-{{ todo.completed ? 'complete' : 'incomplete' }} btn btn-xs btn-danger">
                            <span class="todo-{{ todo.completed ? 'complete' : 'incomplete' }} glyphicon glyphicon-{{ todo.completed ? 'ok' : 'remove' }} glyphicon-white"></span>
                        </button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/todo/delete/{{ todo.id }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post" action="/todo/add">
                <input type="hidden" name="token" value="{{ crsftokentodos }}">
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
                <!-- error -->
                <div class="error">
                    {% for error in app.session.flashbag.get('formErrors') %}
                        <div class="alert alert-danger" role="alert">
                            {{ error | escape }}
                        </div>
                    {% endfor %}
                </div>
                <!-- end of error -->
            </form>
        </tr>
        <tr>
            {% for message in app.session.flashbag.get('todoSuccess') %}
                <div class="alert alert-success" role="alert">
                    {{ message | escape }}
                </div>
            {% endfor %}
        </tr>
    </table>
</div>
{% endblock %}